# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Build output
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# Windows
Thumbs.db
Desktop.ini

# IDE
.vscode/
.idea/

# Logs
*.log
